@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="container py-4">
    <div class="row">
        <div class="col-md-8">
            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
            {
                <div class="alert alert-danger">
                    @ViewData["ErrorMessage"]
                </div>
            }
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Вашите сметки</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Номер на сметката</th>
                                    <th>Налична сума</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var account in Model.Accounts)
                                {
                                    <tr>
                                        <td>@account.AccountNumber</td>
                                        <td>@account.AvailableSum</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</div>

